<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{pizzas/fragments :: resources}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="pizzas/fragments :: navbar('pizza', '', false)"></th:block>

<div class="container">
    <h1>Nuova Pizza</h1>

    <form id="pizza-form" method="post" th:object="${pizza}"
          th:action="@{|*{id}|}" class="row gy-3">
        <!-- errors -->
        <ul>
            <li class="text-danger" th:each="err : ${#fields.allErrors() }" th:text="${err}"></li>
        </ul>
        <!-- name -->
        <div class="col-12">
            <label class="form-label" for="name">Nome*</label>
            <input type="text" id="name" class="form-control" th:field="*{name}"
                   th:errorClass="is-invalid">
            <!--            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">-->
            <!--                <ul>-->
            <!--                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </div>
        <!-- description -->
        <div class="col-12">
            <label class="form-label" for="description">Descrizione*</label>
            <textarea id="description" class="form-control" th:field="*{description}" rows="5"></textarea>
        </div>
        <!--price-->
        <div class="col-12">
            <label class="form-label" for="price">Prezzo*</label>
            <input type="number" id="price" th:field="*{price}" class="form-control">
        </div>
        <!--SUBMIT-->
        <div class="col-12 mt-5">
            <!--<a class="btn btn-primary" th:href="@{/books}">Cancel</a>-->
            <button type="submit" class="btn btn-primary">Salva</button>
        </div>
    </form>
</div>

</body>
</html>
