<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <th:block th:fragment="resources">
        <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" th:rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/app.css}">
    </th:block>
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     th:fragment="navbar(current, keyword, showSearch)">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.svg}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbar-content"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}"
                       th:classAppend="${current == 'books'} ? active : not-active">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}"
                       th:classAppend="${current == 'users'} ? active : not-active">Users</a>
                </li>
            </ul>
            <form
                    th:if="${showSearch}"
                    class="d-flex"
                    role="search"
                    method="get"
                    th:action="@{/books}"
            >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="q" th:value="${keyword}">
                <button class="btn btn-outline-light" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</nav>
<!--/ NAVBAR-->


</body>
</html>