<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{pizzas/fragments :: resources}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<th:block th:replace="pizzas/fragments :: navbar('pizzas', ${keyword}, true)"></th:block>


<!--TABLE-->
<div class="container py-4" th:if="${allPizza.size() >= 0}">

    <div th:if="${message}" th:text="${message}"></div>

    <div class="row mb-4">
        <div class="col">
            <h1>Le nostre pizze</h1>
        </div>
        <!--&lt;!&ndashBTN-->
        <div class="col text-end">
            <a th:href="@{/pizzas/create}" class="btn btn-primary px-4">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pizza-slice"></i>
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${allPizza}" th:object="${pizza}">
            <th th:text="*{name}"></th>
            <td th:text="*{description}"></td>
            <td th:text="|*{price} €|"></td>
            <td>
                <a th:href="@{|/pizzas/*{id}|}" class="btn btn-primary">
                    <i class="fa-solid fa-expand"></i>
                </a>
                <a th:href="@{|/pizzas/edit/*{id}|}" class="btn btn-primary">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a th:href="@{|/pizzas/delete/*{id}|}" class="btn btn-primary">
                    <i class="fa-solid fa-delete-left"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--/ TABLE-->

<!--else PIZZE-->
<div class="container py-4" th:if="${allPizza.size() == 0}">
    <h4>Non ci sono pizze sul nostro menù</h4>
</div>
<!--/ else PIZZE-->


</body>
</html>